@value inputBg, textDark, textLight, readOnlyBg, readOnlyBorder from '../colors.css';
@value activeEdgeWidth, inputHeight, inputMargin from '../dimensions.css';

.common {
  composes: common from './Input.css';
  position: relative;
  width: 100%;
  height: inputHeight;
  line-height: 18px;
  margin-bottom: inputMargin;
  color: textDark;
  background-color: readOnlyBg;
}

.common.enabled {
  background-color: inputBg;
}

.normal {
  composes: common;
}

.embedded {
  composes: common;
}

.common :global(.ql-editor) {
  outline-offset: -1px;
  padding: 2px 2px 1px 2px;
  line-height: 18px;
  margin: 0;
}

.common :global(.ql-editor):focus {
  outline: solid textDark;
  outline-width: activeEdgeWidth;
  z-index: 2;
}

.normal :global(.ql-editor) {
  border: 1px solid readOnlyBorder;
}

.normal.enabled :global(.ql-editor) {
  border-color: textLight;
}

.common :global(.ql-container) {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.common :global(.ql-toolbar) {
  position: absolute;
  top: -45px;
  z-index: 3;
  background-color: white;
}

/* .common :global(.ql-bubble) :global(.ql-tooltip) {
  border-radius: 0;
  z-index: 3;
} */
